<div class="container">
  <div class="header flr">
    <div class="header__logo flr">
      <img
        src="https://cdn-icons-png.flaticon.com/512/49/49360.png"
        alt="Logo"
        class="header__logo-img"
      />
      <div class="header__logo-text">Wikipedia</div>
    </div>
    <div class="header__search">
      <nz-input-group
        [nzPrefix]="prefixTemplateUser"
        [nzSuffix]="suffixIconButton"
        [nzSize]="'small'"
      >
        <input
          nz-input
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="searchDropdown"
          class="header__search-input"
          [(ngModel)]="fullTextSearch"
          (keyup.enter)="nzOnSearch()"
          placeholder="Tìm kiếm..." />
        <ng-template #prefixTemplateUser
          ><button
            nz-button
            nzType="text"
            nzShape="circle"
            (click)="nzOnSearch()"
          >
            <i class="fa-solid fa-magnifying-glass"></i></button
        ></ng-template>
        <ng-template #suffixIconButton>
          <button
            *ngIf="fullTextSearch != ''"
            nz-button
            nzType="text"
            nzShape="circle"
            (click)="onCancelSearch()"
          >
            <i class="fa-solid fa-xmark"></i>
          </button> </ng-template
      ></nz-input-group>
    </div>
    <div class="header__action flr">
      <div class="action__language">
        <img
          src="https://cdn-icons-png.flaticon.com/512/484/484582.png"
          alt="Đổi ngôn ngữ"
          class="action__language-icon"
        />
      </div>
      <div class="action__add">
        <a routerLink="/add"
          ><i class="fa-solid fa-circle-plus action__add-icon"></i
        ></a>
      </div>
      <div class="action__avatar">
        <img
          src="https://images.pexels.com/photos/3228769/pexels-photo-3228769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Ảnh đại diện"
          class="action__avatar-img"
          nz-dropdown
          [nzDropdownMenu]="avatarMenu"
          [nzPlacement]="'bottomCenter'"
        />
      </div>
    </div>
  </div>

  <div class="body">
    <div class="search-word">
      <h1>{{ currentPost!.name! }}</h1>
    </div>
    <div class="body-layout flr">
      <div class="body__left-bar flc">
        <ng-container *ngIf="barSwitch">
          <img
            src="https://images.pexels.com/photos/6173817/pexels-photo-6173817.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="ảnh 1"
            class="content__img"
          />
          <img
            src="https://images.pexels.com/photos/6270215/pexels-photo-6270215.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="ảnh 1"
            class="content__img"
          />
        </ng-container>
      </div>
      <div class="body__main-content">
        <div class="content__header flr">
          <div class="content__header-text">Chi tiết</div>
          <div class="content__header-like flr">
            <p class="like__text">{{ currentPost.like! }}</p>
            <i class="fa-solid fa-thumbs-up like__icon"></i>
          </div>
        </div>
        <div class="content__body">
          <div class="body__edited-date">
            {{ currentPost.createdAt | date : "dd/MM/yyy" }}
          </div>
          <div class="body__description">
            <quill-view
              [content]="currentPost.description"
              format="html"
              theme="snow"
            ></quill-view>
          </div>
        </div>
      </div>
      <div class="body__right-bar">
        <div class="bar__switch">
          <button *ngIf="currentPost.userId == currentUser.id" nz-button (click)="onClickEditPost()"><i class="fa-solid fa-pen-to-square mr-12"></i> Sửa</button>
          <div *ngIf="currentPost.userId != currentUser.id"></div>
          <nz-switch [(ngModel)]="barSwitch"></nz-switch>
        </div>
        <ng-container *ngIf="barSwitch">
          <div class="bar-item">
            <div class="item__header flr">
              <div class="item__title flr">
                <div class="item__title-text">Tác giả</div>
                <!-- <div class="item__title-number">12</div> -->
              </div>
            </div>
            <div class="item__body p-12">
              <div class="w-100 flr aic">
                <nz-avatar
                  nzIcon="user"
                  nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                  [nzSize]="'large'"
                ></nz-avatar>
                <h3 class="ml-12">{{ currentPost.userName }}</h3>
              </div>
            </div>
          </div>
          <div class="bar-item">
            <div class="item__header">
              <div class="item__title">
                <div class="item__title-text">Thể loại</div>
              </div>
            </div>
            <div class="item__body p-12">
              <nz-select
                [nzMaxTagCount]="3"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                nzMode="multiple"
                nzPlaceHolder="Chọn thể loại"
                [(ngModel)]="currentPost.topic"
                [nzDisabled]="true"
                class="wp-100"
              >
                <nz-option
                  *ngFor="let item of currentPost.topic"
                  [nzLabel]="item"
                  [nzValue]="item"
                ></nz-option>
              </nz-select>
              <ng-template #tagPlaceHolder let-selectedList
                >and {{ selectedList.length }} more selected</ng-template
              >
            </div>
          </div>
          <div class="bar-item">
            <div class="item__header">
              <div class="item__title">
                <div class="item__title-text">Nguồn tham khảo</div>
              </div>
            </div>
            <div class="item__body my-12 flc">
              <ng-container
                *ngFor="let link of currentPost.references; let i = index"
                class="flc"
              >
                <div class="source__link">
                  <div class="source__link-text">
                    {{ link }}
                  </div>
                  <div class="source__link-action">
                    <i class="fa-solid fa-copy"></i>
                  </div>
                </div>
                <nz-divider
                  *ngIf="i < currentPost.references.length - 1"
                ></nz-divider>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<nz-dropdown-menu #avatarMenu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item>Xem chi tiết</li>
    <li nz-menu-item nzDanger (click)="onClickLogOut()">
      <i class="fa-solid fa-right-from-bracket mr-12"></i>Đăng xuất
    </li>
  </ul>
</nz-dropdown-menu>

<nz-dropdown-menu #searchDropdown="nzDropdownMenu">
  <ul nz-menu>
    <ng-container *ngFor="let data of listAllPost">
      <li nz-menu-item (click)="onClickDetailPost(data.id)">{{ data.name }}</li>
      <li nz-menu-divider></li>
    </ng-container>
  </ul>
</nz-dropdown-menu>
