<div class="body">
  <div class="logo">
    <img src="https://cdn-icons-png.flaticon.com/512/49/49360.png" alt="Logo" class="login__logo">
  </div>
  <div class="form">
    <div nz-row>
      <div nz-col nzSpan="24">
        <form
          nz-form
          [formGroup]="loginForm"
          class="login-form"
        >
          <nz-form-item>
            <nz-form-control nzErrorTip="Vui lòng nhập tên tài khoản!">
              <nz-input-group nzPrefixIcon="user">
                <input
                  type="email"
                  nz-input
                  formControlName="userName"
                  placeholder="Username"
                  value=" "
                  [(ngModel)]="log_email"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu!">
              <nz-input-group nzPrefixIcon="lock">
                <input
                  type="password"
                  nz-input
                  formControlName="password"
                  placeholder="Password"
                  [(ngModel)]="log_pw"
                  (keyup.enter)="login()"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <!-- <div nz-row class="login-form-margin">
            <div nz-col [nzSpan]="12">
              <label nz-checkbox formControlName="remember">
                <span>Remember me</span>
              </label>
            </div>
            <div nz-col [nzSpan]="12">
              <a class="login-form-forgot">Forgot password</a>
            </div>
          </div> -->
          <button
            nz-button
            class="login-form-button login-form-margin"
            [nzType]="'primary'"
            (click)="login()"
          >
            Đăng nhập
          </button>
          <button
            nz-button
            class="login-form-button login-form-margin"
            (click)="continueAsGuest()"
          >
            Tiếp tục với tư cách khách
          </button>
          <!-- Or <a> register now! </a> -->
        </form>
      </div>
    </div>
  </div>
</div>
